@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
  width: 100%;
  border: none !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.react-calendar__tile--active{
background-color: aqua !important;
}